*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(239, 243, 243);
    color: white;
    padding: 10px 0 10px 0;
    box-shadow: #ccc;
    /* position: fixed; */
}

.left{
    width: 50px;
    height: 50px;
    color: #000000;
}


.middle ul {
    display: flex;

}

.middle ul li{
    margin: 15px;
    list-style: none;
}

.middle ul li a{
    text-decoration: none;
    color: black;
}


.right button{
    padding: 10px 30px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#3023AE 0%,#FF0099 100%);
    font-size: large;
    cursor: pointer;
}

.right button:hover{
    background-image: linear-gradient(45deg,#FF0099 0%,#3023AE 100%);
}


.container{
    background: rgb(89,29,229);
background: linear-gradient(93deg, #a308f6c9 0%, rgba(100,51,135,1) 0%, rgb(228, 6, 165) 100%);

    display: flex;
    width: 100%;
    height: auto;
    padding-right: 2rem;
    justify-content: flex-end;
    align-items: center;
    height: 55vh;
    flex-wrap: wrap;
}

.container div{
    
    margin: 20px;
}
.container div span {
    padding: 20px;
    text-align: center;
}

.container div i{
    padding: 10px 0 0 0;
}


.contact p{
    font-size: 32px;
    text-decoration: underline;
}




.main{
    width: 100%;
    height: auto;
    /* padding: 20px; */
}












footer{
    width: 100%;
    /* display: flex; */
    padding: 2rem 6rem;
    background: rgb(89,29,229);
background: linear-gradient(93deg, rgba(89,29,229,0.7876400560224089) 0%, rgba(100,51,135,1) 0%, rgba(102,89,255,1) 100%);
color: white;

}

.upper{
    display: flex;
}
.upper div{
    
    width: 20rem;
    text-align: center;
    height: 20vh;
    display: block;
}


.lower{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.two{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.two a{
    padding: 10px;
    margin: 10px;
}


.three{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.three i{
    margin: 3px;
}








.newsletter{
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 5px;
    color: black;
}

.newsletter label{
    display: block;
    margin-bottom: 10px;
}

.newsletter input{
    height: 40px;
    border-radius: 10px;
    background: rgb(89,29,229);
    background: linear-gradient(93deg, rgba(89,29,229,0.7876400560224089) 0%, rgba(100,51,135,1) 0%, rgba(102,89,255,1) 100%);
    color: white;
    text-align: center;
}
.newsletter input::placeholder{
    color: white;
}

.newsletter p{
    margin-top: 10px;
}

.newsletter input span i {
    color: black;
}





a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}




@media only screen and (max-width: 700px){
    

    footer{
        padding: 1rem;
    }

    .two a{
        padding: 5px;
        margin: 5px;
    }

    
}


@media only screen and (max-width: 545px){
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .middle ul {
        flex-direction: column;
    
    }

    .middle ul li{
        padding: 0;
        margin: 5px;
    }

    footer{
        flex-wrap: wrap;
    }

    


    .upper{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }


    .lower{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}