
<div class="main">
    <div class="navbar">
        <!-- Navigation bar content goes here -->
        <div class="left">
            logo
        </div>

        <div class="middle">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Lourem</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">How It Works</a></li>
            </ul>
        </div>

        <div class="right">
            <button>contact Us</button>
        </div>
    </div>

    <div class="container">
        <div class="contact">
            <p>Contact</p>
            <p>Us</p>
            
            <div><i class="fa fa-envelope" style="font-size:32px"></i> <span>abc@gmail.com</span></div>

                           <div> <i class="fa fa-whatsapp"
                            style="font-size: 32px;"></i><span>+911234567890</span></div>

                           <div> <i class="fa fa-phone"
                            style="font-size: 32px;"></i><span>+911234567890</span></div>

        </div>



    </div>


    <footer>

        <div class="upper">
            <div class="links">
                <h3>links</h3>
                <p><a href="#">lorem</a></p>
                <p><a href="#">lorem</a></p>
                <p><a href="#">lorem</a></p>
                <p><a href="#">lorem</a></p>
                <p><a href="#">lorem</a></p>


            </div>
            <div class="info">
                <h3>information</h3>
                <p><a href="#">FAQ</a></p>
            </div>
            <div class="about">
                <h3>company
                </h3>
                <p><a href="#">About Us</a></p>
            </div>
            <div class="newsletter">
                <label for="email">Join The Newsletter</label>
                <input type="email" placeholder="enter email" id="email" name="email">

                <p>Lorem ipsum dolor sit amet.</p>
            </div>

        </div>

        <hr>
        <div class="lower">

            <div class="one"><span>
                    <h1>Affadavit Wala</h1>
                </span>
                <span>ALL RIGHTS RESERVED</span>
            </div>
            <div class="two">
                <a href="#">terms</a><a href="#">privacy</a><a href="#">cookies</a>
            </div>
            <div class="three">
                <i class="fa fa-instagram"
                            style="font-size: 32px;"></i>
                <i class="fa fa-telegram"
                            style="font-size: 32px;"></i>
                <i class="fa fa-linkedin"
                            style="font-size: 32px;"></i>
                <i class="fa fa-twitter"
                            style="font-size: 32px;"></i>
                <i class="fa fa-facebook"
                            style="font-size: 32px;"></i>
                
            </div>
        </div>
    </footer>


</div>
