<div class="main">
    <div class="navbar">
        <!-- Navigation bar content goes here -->
        <div class="left">
            logo
        </div>

        <div class="middle">
            <ul>

                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Testionial</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>

        <div class="right">
            <button>Login</button>
            <button>Register</button>
        </div>
    </div>

    <div class="container">



        <div class="bgimage">
            <div>
                <h1>Great products is</h1>
                <h1>built by great teams</h1>
                <p>
                    we help build and manage a team of world-class developers to bring your vision to life
                </p>

                <button>Let's get started</button>
            </div>
        </div>

        <hr class="mark">
        <div class="services">

            <h1>
                Services
            </h1>
            <h1>We Offer</h1>
            <div class="box">
                <div class="servicebox">
                    <h2>general affidavit</h2>
                </div>
                <div class="servicebox">
                    <h2>change of name affadavit </h2>
                </div>
                <div class="servicebox">
                    <h2>student affadavit</h2>
                </div>
                <div class="servicebox">
                    <h2>birth and marriage affadavit</h2>
                </div>
            </div>
        </div>
<hr class="mark">



        <div class="steps">

            <h1>4 Easy steps to get a affadavit</h1>
            <h1>at your door steps</h1>

            <div class="step">
                <div class="step1">
                    <h2>
                        Create your own affadavit
                    </h2>
                </div>
                <hr class="line">
                <div class="step2">
                    <h2>
                        Make paymennt
                    </h2>
                </div>



                <div class="step3">
                    <h2>
                        Sign the Affadavit
                    </h2>
                </div>
                <div class="step4">
                    <h2>
                        Doorstep Delivery
                    </h2>
                </div>
                
            </div>

        </div>





        <div class="companies">
            <h1>Companies</h1>
            <h1>we are working with</h1>

            <div class="img">
                <img src="https://i.pinimg.com/564x/4d/d4/9b/4dd49b7fc66bb6cc84262060ca534118.jpg" alt="">
                <img src="https://i.pinimg.com/564x/4d/d4/9b/4dd49b7fc66bb6cc84262060ca534118.jpg" alt="">
                <img src="https://i.pinimg.com/564x/4d/d4/9b/4dd49b7fc66bb6cc84262060ca534118.jpg" alt="">
                <img src="https://i.pinimg.com/564x/4d/d4/9b/4dd49b7fc66bb6cc84262060ca534118.jpg" alt="">
                <img src="https://i.pinimg.com/564x/4d/d4/9b/4dd49b7fc66bb6cc84262060ca534118.jpg" alt="">
                <img src="https://i.pinimg.com/564x/4d/d4/9b/4dd49b7fc66bb6cc84262060ca534118.jpg" alt="">

            </div>
        </div>



        <div class="testimonial">
            <p>our testimonial</p>

            <h1>What our client say about</h1>
            <h1>Affadavit Wala</h1>


            <div class="card">
                <div class="testimonial-container" *ngIf="testimonials.length > 0">
                    <div class="testimonial" *ngFor="let testimonial of testimonials; let i = index"
                         [class.active]="i === currentTestimonialIndex">
                      <h3>{{ testimonial.name }}</h3>
                      <p>{{ testimonial.message }}</p>
                    </div>
                  </div>
            </div>

            



        </div>








        <div class="faq">

            <h1 class="faq-heading">FAQ'S</h1>
            <section class="faq-container">
                <div class="faq-one">
                    <!-- faq question -->
                    <div *ngFor="let faq of faqList" class="faq-page"  (click)="togglePanel(faq)">
                        {{ faq.question }}
                        <div *ngIf="faq.active" class="panel">
                          {{ faq.answer }}
                        </div>
                      </div>
                </div>
                
                
            </section>

        </div>



    </div>


    <footer>

        <div class="upper">
            <div class="links">
                <h3>links</h3>
                <p><a href="#">lorem</a></p>
                <p><a href="#">lorem</a></p>
                <p><a href="#">lorem</a></p>
                <p><a href="#">lorem</a></p>
                <p><a href="#">lorem</a></p>


            </div>
            <div class="info">
                <h3>information</h3>
                <p><a href="#">FAQ</a></p>
            </div>
            <div class="about">
                <h3>company
                </h3>
                <p><a href="#">About Us</a></p>
            </div>
            <div class="newsletter">
                <label for="email">Join The Newsletter</label>
                <input type="email" placeholder="enter email" id="email" name="email">
                <span><button>➡️</button></span>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

        </div>

        <hr>
        <div class="lower">

            <div class="one"><span>
                    <h1>Affadavit Wala</h1>
                </span>
                <span>ALL RIGHTS RESERVED</span>
            </div>
            <div class="two">
                <a href="#">terms</a><a href="#">privacy</a><a href="#">cookies</a>
            </div>
            <div class="three">
                <i class="fa fa-instagram" style="font-size: 32px;"></i>
                <i class="fa fa-telegram" style="font-size: 32px;"></i>
                <i class="fa fa-linkedin" style="font-size: 32px;"></i>
                <i class="fa fa-twitter" style="font-size: 32px;"></i>
                <i class="fa fa-facebook" style="font-size: 32px;"></i>

            </div>
        </div>
    </footer>



</div>

